#layout-container #panel-general #bodyPanelModule h2 {font-size: 2.75em; border-bottom: 2px solid; margin-top: 1em;}
#layout-container .tableDynamic .table td p {font-size: 1.25em; font-weight: bold;}