/*
!**** Layout ****!
!************* Por defecto ***************!
#layout-container input {background-color: #0e2033; color:#5aacff; border-color: #4380A3;}
#layout-container h2 {color: #d8d8d8;}
#layout-container label {color: #d9dfe6;}

!************* HEADER ***************!
body,
#layout-container, html {background-color: #15202B !important;}
#layout-container #grailsLogo {border-color: #13658e;}
#layout-container #grailsLogo #BannerI18n span,
#layout-container #grailsLogo #BannerLogo h1 {color: #fff;}
#layout-container #grailsLogo #BannerI18n .borderI18n {border-color: #13658e;}
!*************  Barra de menu *************!
#layout-container #layout-menu {background-image: linear-gradient(#2990C4 0%, #68C8FF 50%, #2990C4 100%); border-color: #166088;}

#layout-container #layout-menu #BotonesColeccion .btnExtra {border-color: #20354C; background-color: #2a343ee6; color:#fff;}
#layout-container #layout-menu #BotonesColeccion .btnExtra:HOVER {background-color: transparent; border-color: #114D72;}

#layout-container #layout-menu #BotonesExtra .btnExtra {border-color:#20354C; background-color: #1f2e45cc; color: #fff;}
#layout-container #layout-menu #BotonesExtra .btnExtra:HOVER {background-color: transparent; border-color: #B1B4B6;}

#layout-container #layout-menu #BotonesExtra .btnOpcions {border-color:#20354C; background-color: #15202b75; color:white;}
#layout-container #layout-menu #BotonesExtra .btnOpcions:HOVER {background-color: transparent;}

#layout-container #layout-menu #BotonesColeccion .dropdown .styleDropdown {background-color: transparent; border-color: transparent;}
#layout-container #layout-menu #BotonesColeccion .dropdown .btnMenu {background-color: #2A343E; color:#2990C4; border-color:#2990C4}
#layout-container #layout-menu #BotonesColeccion .dropdown .btnMenu:HOVER {background-color: #101A26c7; border-color: #0e8bd8; color:#fff;}

*************  Footer *************
#Footer {background-color: #040709; color: #d9dfe6;}

*************  Cookies *************
#cookiesPopUp #popUp{ background-color:#13658e87; color: white;}
#cookiesPopUp #popUp .btnCookie{ background-color: transparent; color: white; border-color: white;}
#cookiesPopUp #popUp .btnCookie:hover{ background-color: #ffffffde; border-color: #ffffffde; color: black;}
#cookiesAccept:HOVER :VISITED{background-color: #21b6ff; color: white;}

*************  Configuracion *************

#layout-container #modalConfiguracion .modal-header {background-color: #1B5C7D; color: #E9EAEB; border-bottom: 3px solid #10384c;}
#layout-container #modalConfiguracion .modal-header .close {color: #E9EAEB;}

#layout-container #modalConfiguracion .modal-body {background-color: #1f2e3e; color: #E9EAEB;}
#layout-container #modalConfiguracion .modal-body .title-body {color: #E9EAEB; border-bottom: 2px solid #E9EAEB;}
#layout-container #modalConfiguracion .modal-body .body-container {background-color: #1D2A39; border: 2px solid #1A2633;}
#layout-container #modalConfiguracion .modal-body .body-container .row input {background-color: transparent; border-bottom: 2px solid #2990C4; color: #2990C4}
#layout-container #modalConfiguracion .modal-body .body-container .row input[type="radio"] {width: 1em; height: 1em;}
#layout-container #modalConfiguracion .modal-body .body-container .row .input-idioma {color: #E9EAEB;}

#layout-container #modalConfiguracion .modal-footer {background-color: #505861;}
#layout-container #modalConfiguracion .modal-footer .btnCommit {background-color: #236286c9; color: white; border-color: #205A7A;}
#layout-container #modalConfiguracion .modal-footer .btnSkip {background-color: #141E28; border-color: #141E28; color: white;}

#layout-container #modalConfiguracion .modal-footer .btnCommit:hover,
#layout-container #modalConfiguracion .modal-footer .btnSkip:hover {background-color: #2a343e52; border-color: #013a73;}

!**     Tablas      **!
#layout-container div.tableDynamic {border-color: #2A343E;}
#layout-container div.tableDynamic .table .btnMenu {background-color: #68C8FF; border: 2px solid #4380A3; color: #4E5052; transition: 1s;}
#layout-container div.tableDynamic .table .btnMenu:hover {background-color: transparent; color: white;}

#layout-container .tableDynamic .table tr td a:hover {text-decoration: none; color:#96999a;}

#layout-container .tableDynamic .table .thead-dark {background-color: #1B2228;}
#layout-container .tableDynamic .table .thead-dark a {color: #fff;}

#layout-container .tableDynamic .table-dark {color: #fff; background-color: #13425A;}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {background-color: #1E698F;}
#layout-container .tableDynamic .table-hover > tbody > tr:hover,
#layout-container .tableDynamic .table-hover > tbody > tr.even:hover {background-color: #13425A;}

#layout-container .tablaGenericoa div.paginacion {background: #1B2228; border-color: #102f4f;}
#layout-container .tablaGenericoa div.paginacion span {color: #4CB1F7; font-weight: 600;}
#layout-container .tablaGenericoa div.paginacion a {color: #fff;}

!*************  Login *************!
#layout-container #login .loginBox {background-color: #13425A; border-color: #83D2FF;}
#layout-container #login .loginBox .buttons .btnLogin {background-color: #2276A1; color: white; border-color: #1d536f !important;}
#layout-container #login .loginBox .buttons .btnLogin:hover {background: #1699dc; border-color: #2990C4;}

!*** Estadisticas ***!
!* Barra de menu estandar*!
#layout-container div.menu ul .btnSelect {background-color: #04a1fb9c; color: white; border-color: #014e7b;}
#layout-container div.menu ul .btnAccion {background-color: #2990c4a6; color: white; border-color: #12689f;}

#layout-container div.menu ul .btnSelect:hover {background-color: #2a343e52;}
#layout-container div.menu ul .btnAccion:hover {background-color: #2a343e52; border-color: #013a73;}

!* Title *!
#layout-container #stats-autor h2,
#layout-container #stats-general h2,
#layout-container #stats-mangas h2 {color: #2d97ce;}

!* SubTitle *!
#layout-container #stats-autor h3,
#layout-container #stats-mangas h3,
#layout-container #stats-general h3 {color: #68C8FF;}

!* Cuerpo de las estadisticas *!
#layout-container #bodyStats .enumStat {color: #fff;}
#layout-container #bodyStats #consultaFuncionesStats .marginDiv,
#layout-container #bodyStats #consultaFuncionesPorStats .marginDiv,
#layout-container #bodyStats #consultaColeccionesStats .marginDiv {color: #68C8FF;}

!* Estilo de los datos *!
#layout-container #bodyStats .row .dontStats {color: #68C8FF;}
#layout-container #bodyStats .row .mostrarNum {color: #2990C4;}
#layout-container #bodyStats .row .estiloNum,
#layout-container #bodyStats .row .estiloPor {color: #2990C4;}
#layout-container #bodyStats .row span.globoDatos {background-color: #174F6B; border-color: #3C9AC9;}
#layout-container #bodyStats .row span.globoDatos:hover {background-color: transparent;}
#layout-container #bodyStats .row span.globoDatos a {color: #cbecff;}

!*** Colecciones ***!
!* Barra de menu estandar*!
#layout-container div.menu {background: linear-gradient(to bottom, #68C8FF 0%, #29b4db 50%, #1b5c7d 100%); border-color:#166088;}
#layout-container tr .menu {background-color: transparent; border-color: transparent;}

#layout-container div.menu ul .btnLlist {background-color: #2a343ec4; color: white; border-color: #0d344e;}

#layout-container div.menu ul .btnSaveV2,
#layout-container div.menu ul .btnSave {background-color: #236286c9; color: white; border-color: #0d344e;}
#layout-container div.menu ul .btnExtra {background-color: #2276A1; color: white; border-color: #12689f;}
#layout-container div.menu ul .btnDelete {background-color: #B30E18; color: white; border-color: #F50010;}
#layout-container div.menu ul .btnSkip {background-color: #141E28; border-color: #141E28; color: white;}

#layout-container div.menu .dropdown .styleDropdown {background-color: transparent; border-color: transparent;}
#layout-container div.menu .dropdown .styleDropdown li .btnMenu {background-color: #2276a1a3; color: white; border-color: #12689f;}
#layout-container div.menu .dropdown .styleDropdown li .btnMenu:hover {background-color: #101a26b8;}

#layout-container div.menu ul .btnExtra:HOVER,
#layout-container div.menu ul .btnLlist:HOVER,
#layout-container div.menu ul .btnSaveV2:HOVER,
#layout-container div.menu ul .btnSave:HOVER,
#layout-container div.menu ul .btnSkip:HOVER,
#layout-container #formCreateAutor .buttons .btnSave:HOVER {background-color: #2a343e52; border-color: #013a73;}

!*** Autores ***!
!** Crear y Editar Autor **!
#layout-container #edit-autor #formEditAutor.container .divButtonSave,
#layout-container #create-autor #formCreateAutor .container .divButtonSave {background: #166088; border-color: #114d72;}

#layout-container #edit-autor #formEditAutor  .buttons .divButtonSave .btnSave,
#layout-container #create-autor #formCreateAutor .buttons .divButtonSave .btnSave {background-color: #2276A1; color: white; border-color: #1d536f;}

#layout-container #edit-autor #formEditAutor  .buttons .divButtonSave .btnSave:hover,
#layout-container #create-autor #formCreateAutor .buttons .divButtonSave .btnSave:hover {background: #1699dc; border-color: #2990C4;}

#layout-container #edit-autor #formEditAutor h2,
#layout-container #create-autor #formCreateAutor h2 {color: #d8d8d8;}

#layout-container #edit-autor #formEditAutor.container .panel-form,
#layout-container #create-autor #formCreateAutor .container .panel-form {background-color: #166088; border-color: #114D72;}

#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain .checkboxImg,
#layout-container #edit-autor #formEditAutor .panel-form label,
#layout-container #create-autor #formCreateAutor .panel-form label {color: #d9dfe6;}

#layout-container #edit-autor #formEditAutor.container .panel-form .fieldcontain input,
#layout-container #create-autor #formCreateAutor .container .panel-form .fieldcontain input,
#layout-container #edit-autor #formEditAutor.container .panel-form .fieldcontain select,
#layout-container #create-autor #formCreateAutor .container .panel-form .fieldcontain select {background-color: #10171E; border-color: #272829; color: #f9f9f9;}

#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain .imgAutorInfo,
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain .imgAutorInfo {color: #fff;}

!** Lista de los Autor **!
#layout-container #list-autor h2 {color:#d8d8d8; border-bottom-color: #d8d8d8;}
#layout-container #list-autor .borderTransparent {border-color: transparent !important;}

#layout-container div#list-autor #filtroAutor {background-color: #13425A; border-color: #081B24;}
#layout-container div#list-autor #filtroAutor .titleFilter {border-bottom-color: #4C92BA; color:#67bcec;}
#layout-container div#list-autor #filtroAutor .labelFilter {color:#5FB6E8;}
#layout-container div#list-autor #filtroAutor .form-group input {background-color: #0e2033; color:#5aacff; border-color: #4380A3; box-shadow: 0 1px 5px 1px #4380A3;}
#layout-container div#list-autor #filtroAutor .form-group input::placeholder {color: #c8e3ff; opacity: 0.5;}
#layout-container div#list-autor #filtroAutor .btn-reset {background-color: #83D2FF; border: 2px solid #396E8C; color: #24517f;}
#layout-container div#list-autor #filtroAutor .btn-filter {background-color: #0F3548; border-color: #1E698F; color: #ecf5ff;}

#layout-container #list-autor #filtroAutor .btn-filter:hover,
#layout-container #list-autor #filtroAutor .btn-reset:hover {background-color: transparent; color:#fff; transition: 0.7s;}

!** Mostrar un Autor **!
#layout-container #ver-autor h2 {color: #d8d8d8; border-bottom: 1px solid #d8d8d8;}

#layout-container #ver-autor div#panel-ver-autor {color:#fff;} !*Que el color de los textos sea blanco*!
#layout-container #ver-autor div#panel-ver-autor h3 {border-color: #fff;}
#layout-container #ver-autor div#panel-ver-autor #infoAutor {background-color: #14587C; border-color: #114663; box-shadow: 0 1px 15px 9px #114663;}
#layout-container #ver-autor div#panel-ver-autor.panel-show-autor {background-color: #166088; border-color: #114D72; box-shadow: 0 1px 7px 3px #114663;}

#layout-container #ver-autor div#panel-ver-autor #imgAutor img {border-color: #1B2228; box-shadow: 0 1px 11px 3px #1B2228;}

!*** Mangas ***!

!** Modals **!
#layout-container .modal-header {background-color: #1B5C7D; color: #E9EAEB; border-bottom: 3px solid #10384c;}
#layout-container .modal-header .close {color: #E9EAEB;}
#layout-container .modal-body {background-color: #1f2e3e; color: #E9EAEB;}
#layout-container .modal-body .separator {border-color: #fff;}
#layout-container .modal-body select,
#layout-container .modal-body input[type="email"],
#layout-container .modal-body input[type="password"],
#layout-container .modal-body input[type="text"] {color: #5aacff; background-color: #0e2033; border: 2px solid #4380A3; box-shadow: 0 1px 5px 1px #4380A3;}
#layout-container .modal-footer {background-color: #505861;}
#layout-container .modal-footer .btnCommit {background-color: #236286c9; color: white; border-color: #205A7A;}
#layout-container .modal-footer .btnDelete {background-color: #B30E18; color: white; border-color: #F50010;}
#layout-container .modal-footer .btnSkip {background-color: #141E28; border-color: #141E28; color: white;}

#layout-container .modal-footer .btnCommit:hover,
#layout-container .modal-footer .btnSkip:hover {background-color: #2a343e52; border-color: #013a73; transition: 1s;}

!** Crear y Editar Mangas **!
#layout-container .form  h3,
#layout-container #edit-mangas #formEditMangas h2,
#layout-container #create-mangas #formCreateMagas h2 {color: #d8d8d8;}

#layout-container .form .blockManga {background-color: #166088; color: #114d72;}
#layout-container .form .blockManga .checkImgLabel {color: #fff; font-size: 1.15em;}
#layout-container .form .blockManga label {color: #fff;}

#layout-container .form div.blockManga select,
#layout-container .form div.blockManga input {background-color: #10171E; color: #f9f9f9; border-color: #272829;}
#layout-container .form div.blockManga .agreeGenero {background-color: #141E28; border-color: #141E28; color: white; transition: 1s;}
#layout-container .form div.blockManga .agreeGenero:hover {background-color: transparent;}
#layout-container .form div.blockManga .agreeGenero:focus {outline: none;}

#layout-container .form .blockManga .blockGenero h4,
#layout-container .form .blockManga .fieldcontain .imgAutorInfo {color: #d8d8d8;}

#layout-container .form .blockManga .blockGenero #boxesGeneros .close {color: #fff;}
#layout-container .form .blockManga .blockGenero #boxesGeneros div.boxGenero {background-color: #174F6B; border-color: #3C9AC9; color: #fff;}

#layout-container #edit-mangas div.menu .dropdown .styleDropdown li .btnMenu,
#layout-container #create-mangas div.menu .dropdown .styleDropdown li .btnMenu {background-color: #2276a1f5;}

#layout-container #edit-mangas #formEditMangas.container .divButtonSave,
#layout-container #create-mangas #formCreateMagas .container .divButtonSave {background: #166088; border-color: #114d72;}

#layout-container #edit-mangas #formEditMangas  .buttons .divButtonSave .btnSave,
#layout-container #create-mangas #formCreateMagas .buttons .divButtonSave .btnSave {background-color: #2276A1; color: white; border-color: #1d536f;}

#layout-container #edit-mangas #formEditMangas  .buttons .divButtonSave .btnSave:hover,
#layout-container #create-mangas #formCreateMagas .buttons .divButtonSave .btnSave:hover {background: #1699dc; border-color: #2990C4;}

!** Lista Mangas **!
#layout-container #list-mangas h2 {color:#d8d8d8; border-bottom-color: #d8d8d8;}

#layout-container div#list-mangas #filtroMangas {background-color: #13425A; border-color: #081B24;}
#layout-container div#list-mangas #filtroMangas .titleFilter {border-bottom-color: #4C92BA; color:#67bcec;}
#layout-container div#list-mangas #filtroMangas .labelFilter {color:#5FB6E8;}
#layout-container div#list-mangas #filtroMangas .form-group select,
#layout-container div#list-mangas #filtroMangas .form-group input {background-color: #0e2033; color:#5aacff; border-color: #4380A3; box-shadow: 0 1px 5px 1px #4380A3;}
#layout-container div#list-mangas #filtroMangas .form-group input::placeholder {color: #c8e3ff; opacity: 0.5;}
#layout-container div#list-mangas #filtroMangas .btn-reset {background-color: #83D2FF; border: 2px solid #396E8C; color: #24517f;}
#layout-container div#list-mangas #filtroMangas .btn-filter {background-color: #0F3548; border-color: #1E698F; color: #ecf5ff;}

!** Ver Mangas **!
#layout-container #ver-manga h2 {color: #d8d8d8;}
#layout-container #ver-manga div.menu .dropdown .styleDropdown li .btnMenu {background-color: #2276a1f5;}

#layout-container #ver-manga div#panel-ver-mangas {color:#fff;} !*Que el color de los textos sea blanco*!
#layout-container #ver-manga div#panel-ver-mangas h3 {border-color: #fff;}
#layout-container #ver-manga div#panel-ver-mangas.panel-show-mangas {background-color: #166088; border-color: #114D72; box-shadow: 0 1px 7px 3px #114663;}
#layout-container #ver-manga div#panel-ver-mangas .infoMangas {background-color: #14587C; border-color: #114663; box-shadow: 0 1px 15px 9px #114663;}
#layout-container #ver-manga div#panel-ver-mangas .infoMangas a {color: #d8d8d8;}

#layout-container #ver-manga div#panel-ver-mangas #imgMangas img {border-color: #1B2228; box-shadow: 0 1px 11px 3px #1B2228;}

!*** Modulo - Historial ***!
#layout-container #list-historia h2,
#layout-container #Generate-Historial-PDF h2 {color:#d8d8d8; border-bottom-color: #d8d8d8;}

#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .container .panel-form,
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .container .divButtonSave {background: #166088; border-color: #114d72;}
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .buttons .divButtonSave .btnSave {background-color: #2276A1; color: white; border-color: #1d536f;}

#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .panel-form .borderBox {border-color: #114d72 !important;}
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .panel-form .borderBox .blockInpunts label {color: #d9dfe6;}

#layout-container #List-Historial-PDF h2 {color:#d8d8d8; border-bottom-color: #d8d8d8;}

!*** Errores ***!
#Error-404 .container .col-sm-6 .btnInicio {background-color: #2276A1; border: 3px solid #63AED4; color: #fff;}
#Error-404 .container .col-sm-6 .btnBack {background-color: #273039; border: 3px solid #646B72; color: #fff;}

#Error-404 .container .col-sm-6 .btnBack:hover,
#Error-404 .container .col-sm-6 .btnInicio:hover {transition: 0.75s; background-color: transparent;}

.notfound .notfound-404 h1 {color:#fff;}
.notfound .notfound-404 h2 {color:#fff; background-color: #15202B;}

.notfound a {color:#fff; background:#2a343e; border: 4px solid #20354C; border-radius: 5px;}
.notfound a:hover{border-color:#114D72;background:transparent;}
*/

/*** Nueva versión colores ***/

/* Tag basicos */
/** Titles **/
body h1, body h2, body h3, body h4, body h5 {color: #fff;}
/** Cuerpo **/
body label, body p {color: #fff;}
/** Link **/
body a {color: #fff;}
body a:hover {border-bottom-color: #337ab7; color: #337ab7 !important; }
/** Inputs **/
body input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus,
body input[type="search"]:focus, input[type="url"]:focus, select:focus, textarea:focus {border-color: #24557F; box-shadow: 0 0 0 1px #24557F;}
body input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {background: #5F9FD3; border-color: #5F9FD3; color: #ffffff;}
body input[type="checkbox"]:focus + label:before, input[type="radio"]:focus + label:before {border-color: #24557F; box-shadow: 0 0 0 1px #24557F;}

/* Buttons */
body input[type="submit"], input[type="reset"], input[type="button"], button, .button{box-shadow: inset 0 0 0 2px #1699dc; color: #1699dc !important;}
body input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover, .button:hover {background-color: #1699dc0d;}

/*    HEADER    */
body, html {background-color: #223344 !important;}
body #header {border-bottom: solid 5px #13658e;}

/*    Sidebar   */
body #sidebar {background-color: #151E28;}
body header.major > :last-child {border-color: #13658e;}

body #menu ul {color: #2990C4;}
body #menu > ul > li {border-color: #154A65;}
body #menu ul a, #menu ul span, body #menu ul a.opener:before, body #menu ul span.opener:before {color: #56AFDC}
body #menu ul a:hover, #menu ul span:hover, body #menu ul a.opener:hover:before, body #menu ul span.opener:hover:before {color: #99CFEA;}

/* Forms */
body .form .imgAutorInfo {color: #d8d8d8;}
body .form label {color: #d9dfe6;}
body .form input, body .form select {background-color: #10171E; border-color: #272829; color: #2990C4 !important;}

/*    FOOTER   */
body #Footer {background-color: #040709; color: #d9dfe6;}
body #Footer .row .col-sm-4 a {color: #49abff;}