/*
!*** Errores ***!
#Error-404 .container .col-sm-6 .btnInicio {background-color: #2276A1; border: 3px solid #63AED4; color: #fff;}
#Error-404 .container .col-sm-6 .btnBack {background-color: #273039; border: 3px solid #646B72; color: #fff;}

#Error-404 .container .col-sm-6 .btnBack:hover,
#Error-404 .container .col-sm-6 .btnInicio:hover {transition: 0.75s; background-color: transparent;}

.notfound .notfound-404 h1 {color:#fff;}
.notfound .notfound-404 h2 {color:#fff; background-color: #15202B;}

.notfound a {color:#fff; background:#2a343e; border: 4px solid #20354C; border-radius: 5px;}
.notfound a:hover{border-color:#114D72;background:transparent;}
*/

/*** Nueva versión colores ***/

/** Titles **/
body h1, body h2, body h3, body h4, body h5 {color: #fff;}

/** Cuerpo **/
body label, body p {color: #fff;}
body .box {border-color: #fff;}

/** Link **/
body a {color: #fff;}
body a:hover {border-bottom-color: #337ab7; color: #1699dc; text-decoration: none;}

/** Inputs **/
body input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus,
body input[type="search"]:focus, input[type="url"]:focus, select:focus, textarea:focus {border-color: #24557F; box-shadow: 0 0 0 1px #24557F;}
body input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {background: #5F9FD3; border-color: #5F9FD3; color: #ffffff;}
body input[type="checkbox"]:focus + label:before, input[type="radio"]:focus + label:before {border-color: #24557F; box-shadow: 0 0 0 1px #24557F;}

/** Buttons **/
body input[type="submit"], input[type="reset"], input[type="button"], body .prevLink, body .nextLink, body button, body .button, body .button{box-shadow: inset 0 0 0 2px #1699dc; color: #1699dc;}
body input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .prevLink:hover, .nextLink:hover, button:hover, .button:hover {background-color: #1699dc0d;}

body input[type="submit"].primary, body input[type="reset"].primary, body input[type="button"].primary, body button.primary, body .button.primary {background-color: #1699dc; color: #fff;}
body input[type="submit"].primary:hover, body input[type="reset"].primary:hover, body input[type="button"].primary:hover, body button.primary:hover, body .button.primary:hover {background-color: #20A6E9 !important;}

body .button.btn-danger {background-color: red; box-shadow: inset 0 0 0 2px red; color: #fff;}
body .button.btn-danger:hover {box-shadow: inset 0 0 0 2px darkred; background-color: darkred; color: #fff; transition: 1s;}

/*    HEADER    */
body, html {background-color: #223344 !important;}
body #header {border-bottom: solid 5px #13658e;}

/*    Sidebar   */
body #sidebar {background-color: #151E28;}
body header.major > :last-child {border-color: #13658e;}

body #menu ul {color: #2990C4;}
body #menu > ul > li {border-color: #154A65;}
body #menu ul a, #menu ul span, body #menu ul a.opener:before, body #menu ul span.opener:before {color: #56AFDC}
body #menu ul a:hover, #menu ul span:hover, body #menu ul a.opener:hover:before, body #menu ul span.opener:hover:before {color: #99CFEA;}

body .navbar-default, body .navbar-default .navbar-form {background-color: transparent; border-color: transparent;}

/*    Forms    */
body .form .imgAutorInfo {color: #d8d8d8;}
body .form label {color: #d9dfe6;}
body .form input, body .form select {background-color: #10171E; border-color: #272829; color: #2990C4 !important;}

/*   Tables   */
body table tbody tr:nth-child(2n + 1) {background-color: #30475F;}
body table tbody tr td {color: #fff;}
body table tbody tr td a {color: #56AFDC; font-weight: bold;}

body div.pagination span.currentStep {background-color: #1699dc; color: #ffffff !important; }
body div.pagination span.currentStep:hover {background-color: #1699dc;}
body div.pagination span.currentStep:active {background-color: #1699dc;}

/*  Modales   */
form .modal-header {background-color: #1B5C7D; color: #E9EAEB; border-bottom: 3px solid #10384c;}
form .modal-header .close {color: #E9EAEB;}

form .modal-body {background-color: #1f2e3e; color: #E9EAEB;}
form .modal-body .title-body {color: #E9EAEB; border-bottom: 2px solid #E9EAEB;}

form .modal-footer {background-color: #212427;}

/*    FOOTER   */
body #Footer {background-color: #040709; color: #d9dfe6;}
body #Footer .row .col-sm-4 a {color: #49abff;}

/*   Autores   */
#autor-show article .content p {border-bottom-color: #fff; color: #68B7DF;}

/*   Mangas   */
.gtr-uniform #boxesGeneros div.boxGenero {border-color: #3C9AC9; color: #fff;}
.gtr-uniform #boxesGeneros .close {color: #fff;}

section article .content p {color: #68B7DF;}
section article .content p span {color: #fff;}
section div.features article .icon-article:before {color: #fff;}
section article .content a {color: #ADE1FF;}
section article .content a:hover {color: #C2E9FF;}