/**** Layout ****/
/************* HEADER ***************/
#layout-container, html {background-color: #15202B;}
#layout-container #grailsLogo {border-color: #9ad7f5;}
#layout-container #grailsLogo #BannerI18n span,
#layout-container #grailsLogo #BannerLogo h1 {color: #E1EDF1;}
#layout-container #grailsLogo #BannerI18n .borderI18n {border-color: #dbe9ee;}
/*************  Barra de menu *************/
#layout-container #layout-menu .container {background-image: linear-gradient(#166088 0%, #29b8e5 50%, #166088 100%); border-color: #166088;}

#layout-container #layout-menu #BotonesExtra .btnExtra {border-color:#558BA8; background-color: #1F2E45; color: #dbe9ee;}
#layout-container #layout-menu #BotonesExtra .btnExtra:HOVER {background-color: transparent; color: #E1EDF1; border-color: #E1EDF1;}

#layout-container #layout-menu #BotonesColeccion .btnExtra {border-color: #20354C; background-color: #20354C; color:white;}
#layout-container #layout-menu #BotonesColeccion .btnExtra:HOVER {background-color: transparent; border-color: #114D72;}

#layout-container #layout-menu #BotonesColeccion .dropdown .styleDropdown {background-color: transparent; border-color: transparent;}
#layout-container #layout-menu #BotonesColeccion .dropdown .btnMenu {background-color: #20354C; color:white; border-color:#20354C;}
#layout-container #layout-menu #BotonesColeccion .dropdown .btnMenu:HOVER {background-color: #101A26c7; border-color: #0e8bd8; color:#0e8bd8;}

#layout-container #layout-menu #BotonesExtra .btnOpcions {border-color:#114D72; background-color: #101A26; color:white;}
#layout-container #layout-menu #BotonesExtra .btnOpcions:HOVER {background-color: #20354C; border-color: transparent;}

/*** Colecciones ***/
/* Barra de menu estandar*/
#layout-container .menu {background-color: #0d2238; border-color:#114D72;}
#layout-container tr .menu {background-color: transparent; border-color: transparent;}

#layout-container .menu ul .btnLlist, 
#layout-container .menu ul .btnSave {background-color: #006CB1; color: white; border-color: #009bff;}
#layout-container .menu ul .btnExtra {background-color: #00568e; color: white; border-color: #12689f;}
#layout-container .menu ul .btnDelete {background-color: #B30E18; color: white; border-color: #F50010;}

#layout-container .menu ul .btnSkip {background-color: #185b86; border-color: #185b86; color: white;}
#layout-container .menu .dropdown .styleDropdown {background-color: transparent; border-color: transparent;}
#layout-container .menu .dropdown .styleDropdown li .btnMenu {background-color: #00568e; color: white; border-color: #12689f;}
#layout-container .menu .dropdown .styleDropdown li .btnMenu:hover {background-color: #101a26b8;}

#layout-container .menu ul .btnExtra:HOVER,
#layout-container .menu ul .btnLlist:HOVER, 
#layout-container .menu ul .btnSave:HOVER, 
#layout-container .menu ul .btnSkip:HOVER,
#layout-container #formCreateAutor .buttons .btnSave:HOVER {background-color: transparent; border-color: #006CB1;}

/*** Autores ***/
/** Crear y Editar Autor **/
#layout-container #edit-autor #formEditAutor .buttons .btnSave,
#layout-container #create-autor #formCreateAutor .buttons .btnSave {background-color: #006CB1; color: white; border-color: #009bff;}

#layout-container #edit-autor #formEditAutor h1,
#layout-container #create-autor #formCreateAutor h1 {color: #d8d8d8; border-bottom-color: #d8d8d8;}

#layout-container #edit-autor #formEditAutor .panel-form,
#layout-container #create-autor #formCreateAutor .panel-form {background-color: #08457e; border-color: #114D72;}

#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain .checkboxImg,
#layout-container #edit-autor #formEditAutor .panel-form label,
#layout-container #create-autor #formCreateAutor .panel-form label {color: #d9dfe6;}

#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain input,
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain input,
#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain select,
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain select {background-color: #10171E; border-color: #009bff; color: #fff;}

#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain .imgAutorInfo,
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain .imgAutorInfo {color: #fff;}

/** Lista de los Autor **/
#layout-container #list-autor h1 {color:#d8d8d8; border-bottom-color: #d8d8d8;}
#layout-container #list-autor .borderTransparent {border-color: transparent !important;}

#layout-container #list-autor #filtroAutor {background-color: #25384b; border-color: #48a3ff;}
#layout-container #list-autor #filtroAutor .titleFilter {border-bottom-color: #7aa4d0; color:#48a3ff;}
#layout-container #list-autor #filtroAutor .labelFilter {color:#7ebeff;}
#layout-container #list-autor #filtroAutor .form-group input {background-color: #0e2033; color:#5aacff; border-color: #7aa4d0; box-shadow: 0px 1px 5px 1px #3272b2;}
#layout-container #list-autor #filtroAutor .form-group input::placeholder {color: #c8e3ff; opacity: 0.5;}
#layout-container #list-autor #filtroAutor .btn-reset {background-color: #ecf5ff; border: 2px solid #7ebeff; color: #24517f;}
#layout-container #list-autor #filtroAutor .btn-filter {background-color: #15304c; border-color: #7ebeff; color: #ecf5ff;}

#layout-container #list-autor #filtroAutor .btn-filter:hover,
#layout-container #list-autor #filtroAutor .btn-reset:hover {background-color: transparent; color:#fff; transition: 0.7s;} 

#layout-container #list-autor #tableAutorList {border-color: #48a3ff;}
#layout-container #list-autor #tableAutorList .table .btnMenu {background-color: #006CB1; border: 3px solid #009bff; color: white; transition: 1s;}
#layout-container #list-autor #tableAutorList .table .btnMenu:hover {background-color: transparent; color: white;}

#layout-container #list-autor #tableAutorList .table tr td a:hover {text-decoration: none; color:#4CB1F7;}

#layout-container #list-autor #tableAutorList .table .thead-dark {background-color: #0D0D0D;}
#layout-container #list-autor #tableAutorList .table .thead-dark a {color: #fff;}
#layout-container #list-autor #tableAutorList .table .thead-dark a:hover {text-decoration: none; color:#4CB1F7;}

#layout-container #list-autor #tableAutorList .table-dark {color: #fff; background-color: #253140;}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {background-color: #294054;}
#layout-container #list-autor #tableAutorList .table-hover > tbody > tr:hover, 
#layout-container #list-autor #tableAutorList .table-hover > tbody > tr.even:hover {color: #4CB1F7; background-color: #253140;}

#layout-container #list-autor .paginacion {background: #03090f; border-color: #102f4f;}

#layout-container #list-autor .paginacion span {color: #4CB1F7; font-weight: 600;}
#layout-container #list-autor .paginacion a {color: #fff;}

/** Mostrar un Autor **/
#layout-container #ver-autor h2 {color: #d8d8d8; font-size: 2.75em; border-bottom: 1px solid #d8d8d8;}

#layout-container #ver-autor #panel-ver-autor {color:#fff;} /*Que el color de los textos sea blanco*/
#layout-container #ver-autor #panel-ver-autor.panel-show-autor {background-color: #08457e; border-color: #0652CE;}
#layout-container #ver-autor #panel-ver-autor h3 {border-color: #fff;}

#layout-container #ver-autor #panel-ver-autor #imgAutor img {border-color: #222;}

