/** Mostrar un Autor **/
section #imgAutor img {width: 190px; height: 210px;}
section article .content p {border-bottom: 2px solid; font-size: 1.5em; font-weight: bold;}
section article .content p span {font-size: 0.75em; font-weight: 100; font-style: italic;}
