/** Crear Autor **/
#layout-container #create-autor #formCreateAutor .buttons {text-align: center;}
#layout-container #create-autor #formCreateAutor .buttons .btnSave {padding: 0.5em 6em; margin-top: 2em; font-size: 1.5em; background-color: #006CB1; color: white; border: 3px solid #009bff; transition: 1s;}
#layout-container #create-autor #formCreateAutor h1 {color:#d8d8d8; font-size: 2.75em; border-bottom: 1px solid #d8d8d8;}
#layout-container #create-autor #formCreateAutor .panel-form {margin-top: 1em; padding: 1em; background-color: #08457e; border: 5px solid #114D72; border-radius: 15px;}
#layout-container #create-autor #formCreateAutor .panel-form label {color: #d9dfe6; margin: 0.25em 0 0 0;}
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain {margin: 1em 0 1em 0; font-size: 1.15em;}
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain input,
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain select {background-color: #10171E; border: 3px solid #009bff; color: #fff; padding: 5px; font-size: 18px;}
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain .tamanoInput {width: 75%;}
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain .imgAutorInfo {color: #fff;}
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain .col-sm-8 #imgAutor {font-size: 12px;}
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain .col-sm-8 .tamanoInput {width: 90%;}

/** Lista de los Autor **/
#layout-container #list-autor h1 {color:#d8d8d8; font-size: 2.75em; border-bottom: 1px solid #d8d8d8;}
#layout-container #list-autor .borderTransparent {border-color: transparent !important;}

#layout-container #list-autor #filtroAutor {background-color: #25384b; padding: 0.25em 1.75em; margin: 2.5em 0 0.35em 0; border: 2px solid #48a3ff; border-radius: 10px 10px 7px 7px;}
#layout-container #list-autor #filtroAutor .bodyFilter {margin-bottom: 0.25em;}
#layout-container #list-autor #filtroAutor .form-group {margin-right: 0.5em; margin-left: 1em;}
#layout-container #list-autor #filtroAutor .titleFilter {margin-top: 0.25em; padding-bottom: 0.25em; border-bottom:6px dotted #7aa4d0; color:#48a3ff; font-size: 2.10em; font-weight: 600;}
#layout-container #list-autor #filtroAutor .labelFilter {font-size: 1.15em; color:#7ebeff;}
#layout-container #list-autor #filtroAutor .form-group input {background-color: #0e2033; color:#5aacff; border: 2px solid #7aa4d0; box-shadow: 0px 1px 5px 1px #3272b2;}
#layout-container #list-autor #filtroAutor .form-group input::placeholder {color: #c8e3ff; opacity: 0.5;}

#layout-container #list-autor #filtroAutor .btn {padding: 0.35em 1.5em; font-size: 1.10em; font-weight: 600;}
#layout-container #list-autor #filtroAutor .btn-filter {margin-left: 2em; margin-right: 0.25em; background-color: #15304c; border: 2px solid #7ebeff; color: #ecf5ff;}
#layout-container #list-autor #filtroAutor .btn-reset {background-color: #ecf5ff; border: 2px solid #7ebeff; color: #24517f;}

#layout-container #list-autor #filtroAutor .btn-filter:hover,
#layout-container #list-autor #filtroAutor .btn-reset:hover {background-color: transparent; color:#fff; transition: 0.7s;} 

#layout-container #list-autor #tableAutorList {border:2px solid #48a3ff; border-radius: 7px; margin-top: 2em; margin-bottom: 1em;}
#layout-container #list-autor #tableAutorList .table {font-family: 'Open Sans'; text-align: center; font-size: 1.10em; margin: 0;}
#layout-container #list-autor #tableAutorList .table .btnMenu {background-color: #006CB1; border: 3px solid #009bff; color: white; transition: 1s;}
#layout-container #list-autor #tableAutorList .table .btnMenu:hover {background-color: transparent; color: white;}

#layout-container #list-autor #tableAutorList .table tr th {text-align: center;}
#layout-container #list-autor #tableAutorList .table tr td a {font-family: 'Open Sans Semibold', sans-serif; color:#fff;}
#layout-container #list-autor #tableAutorList .table tr td a:hover {text-decoration: none; color:#4CB1F7;}

#layout-container #list-autor #tableAutorList .table .thead-dark {background-color: #0D0D0D;}
#layout-container #list-autor #tableAutorList .table .thead-dark a {color: #fff;}
#layout-container #list-autor #tableAutorList .table .thead-dark a:hover {text-decoration: none; color:#4CB1F7;}

#layout-container #list-autor #tableAutorList .table-dark {color: #fff; background-color: #253140;}
#layout-container #list-autor #tableAutorList .table td {vertical-align: middle;}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {background-color: #294054;}
#layout-container #list-autor #tableAutorList .table-hover > tbody > tr:hover, 
#layout-container #list-autor #tableAutorList .table-hover > tbody > tr.even:hover {color: #4CB1F7; background-color: #253140;}

#layout-container #list-autor .paginacion {text-align: center; margin-bottom: 3em; line-height: 0.25em; background: #03090f; border-color: #102f4f;}
#layout-container #list-autor .paginacion a,
#layout-container #list-autor .paginacion span {font-size: 1.25em; padding-left: 1em;}

#layout-container #list-autor .paginacion span {color: #4CB1F7; font-weight: 600;}
#layout-container #list-autor .paginacion a {color: #fff;}

/** Mostrar un Autor **/
#layout-container #ver-autor h2 {color: #d8d8d8; font-size: 2.75em; border-bottom: 1px solid #d8d8d8;}

#layout-container #ver-autor #panel-ver-autor {color:#fff;} /*Que el color de los textos sea blanco*/
#layout-container #ver-autor #panel-ver-autor.panel-show-autor {margin-top: 1em; padding: 1em 4em; background-color: #08457e; border: 5px solid #0652CE; border-radius: 15px;}
#layout-container #ver-autor #panel-ver-autor h3 {margin: 0; border-bottom: 1px solid #fff; padding-bottom: 0.15em; font-family: 'Open Sans Semibold';}



