/** Crear y Editar Autor **/
#layout-container #edit-autor #formEditAutor .buttons,
#layout-container #create-autor #formCreateAutor .buttons {text-align: center;}

#layout-container #edit-autor #formEditAutor .divButtonSave,
#layout-container #create-autor #formCreateAutor .divButtonSave {margin-top: 2em; margin-bottom: 2em; padding: 0.5em; border: 3px solid; border-radius: 10px;}

#layout-container #edit-autor #formEditAutor .buttons .btnSave,
#layout-container #create-autor #formCreateAutor .buttons .btnSave {padding: 0.5em 6em; font-size: 1.5em; border: 3px solid; font-weight: 600; transition: 1s;}

#layout-container #edit-autor #formEditAutor h2,
#layout-container #create-autor #formCreateAutor h2 {font-size: 2.75em; border-bottom: 2px solid; margin-top: 1em;}

#layout-container #edit-autor #formEditAutor .panel-form,
#layout-container #create-autor #formCreateAutor .panel-form {margin-top: 1em; padding: 1em; border: 5px solid; border-radius: 15px;}

#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain .checkboxImg,
#layout-container #edit-autor #formEditAutor .panel-form label,
#layout-container #create-autor #formCreateAutor .panel-form label {margin: 0.25em 0 0 0;}

#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain,
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain {margin: 1em 0 1em 0; font-size: 1.15em;}

#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain input,
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain input,
#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain select,
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain select {border: 3px solid; padding: 5px; font-size: 18px;}

#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain .tamanoInput,
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain .tamanoInput {width: 75%;}

#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain .col-sm-8 #imgAutor,
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain .col-sm-8 #imgAutor {font-size: 12px;}

#layout-container #edit-autor #formEditAutor .panel-form .fieldcontain .col-sm-8 .tamanoInput,
#layout-container #create-autor #formCreateAutor .panel-form .fieldcontain .col-sm-8 .tamanoInput {width: 90%;}

/** Lista de los Autor **/
#layout-container #list-autor h2 {font-size: 2.75em; border-bottom: 1px solid; margin-top: 1em;}

#layout-container #list-autor #filtroAutor {padding: 0.25em 1.75em; margin: 1.5em 0 0.35em 0; border: 3px solid; border-radius: 10px 10px 7px 7px;}
#layout-container #list-autor #filtroAutor .bodyFilter {margin-bottom: 0.25em;}
#layout-container #list-autor #filtroAutor .form-group {margin-right: 0.5em; margin-left: 1em;}
#layout-container #list-autor #filtroAutor .titleFilter {margin-top: 0.25em; padding-bottom: 0.25em; border-bottom:6px dotted;font-size: 2.10em; font-weight: 600;}
#layout-container #list-autor #filtroAutor .labelFilter {font-size: 1.15em;}
#layout-container #list-autor #filtroAutor .form-group input {border: 2px solid;}

#layout-container #list-autor #filtroAutor .btn {padding: 0.35em 1.5em; font-size: 1.10em; font-weight: 600;}
#layout-container #list-autor #filtroAutor .btn-filter {margin-left: 2em; margin-right: 0.25em; border: 2px solid;}

#layout-container #list-autor #tableAutorList {border:2px solid; border-radius: 7px; margin-top: 2em; margin-bottom: 1em;}
#layout-container #list-autor #tableAutorList .table {font-family: 'Open Sans'; text-align: center; font-size: 1.10em; margin: 0;}

#layout-container #list-autor #tableAutorList .table tr th {text-align: center;}
#layout-container #list-autor #tableAutorList .table tr td a {font-family: 'Open Sans Light', sans-serif; font-weight: bold; color:#fff;}

#layout-container #list-autor #tableAutorList .table td {vertical-align: middle;}

#layout-container #list-autor .paginacion {text-align: center; margin-bottom: 3em; line-height: 0.25em;}
#layout-container #list-autor .paginacion a,
#layout-container #list-autor .paginacion span {font-size: 1.25em; padding-left: 1em;}

/** Mostrar un Autor **/
#layout-container #ver-autor h2 {font-size: 2.75em; margin-top: 1em;}

#layout-container #ver-autor #panel-ver-autor.panel-show-autor {margin-top: 1.75em; padding: 1em 4em 0em 4em; border: 5px solid; border-radius: 15px;}
#layout-container #ver-autor #panel-ver-autor h3 {margin: 0; border-bottom: 1px solid; padding-bottom: 0.15em; font-family: 'Open Sans Semibold'; font-size: 2.10em;}

#layout-container #ver-autor #panel-ver-autor #imgAutor img {width: 190px; height: 210px; margin: 2em 1.25em; border: 3px solid; border-radius: 5px;}

#layout-container #ver-autor #panel-ver-autor #infoAutor {margin-top: 4.25em; border: 2px solid; border-radius: 5px;}
#layout-container #ver-autor #panel-ver-autor #infoAutor h4 {font-size: 1.75em;}
#layout-container #ver-autor #panel-ver-autor #infoAutor span {margin-top: 9px; padding: 0; font-size: 1.5em; font-weight: bold;}
#layout-container #ver-autor #panel-ver-autor #infoAutor span.nacionalidad-value {padding-left:0.75em}
