/* Barra de menu estandar*/
#layout-container .menu {margin-top: 1em; border: 3px solid; border-radius: 10px;}
#layout-container tr .menu {margin: 0;}
#layout-container .menu ul {padding: 0.5em; margin: 0; list-style: none}

#layout-container .menu ul .btn {padding: 0.5em 1.25em; font-weight: 600; font-size: 1.1em}
#layout-container .menu ul .btnLlist, 
#layout-container .menu ul .btnSave {border: 3px solid; transition: 1s;}
#layout-container .menu ul .btnSave {padding:0.5em 1.25em; margin-right: 0.5em;}
#layout-container .menu ul .btnExtra {border: 3px solid; transition: 1s;}
#layout-container .menu ul .btnDelete {border: 3px solid; margin-right: 0.75em; transition: 1s;}

#layout-container .menu ul .btnSkip {border: 3px solid; transition: 1s;}
#layout-container .menu .dropdown .styleDropdown {box-shadow: none; padding: 0;}
#layout-container .menu .dropdown .styleDropdown li .btnMenu {border: 3px solid; margin-top: 0.25em; border-radius: 5px; transition: 1s;}

#layout-container .menu ul .btnExtra:HOVER,
#layout-container .menu ul .btnLlist:HOVER, 
#layout-container .menu ul .btnSave:HOVER, 
#layout-container .menu ul .btnSkip:HOVER,
#layout-container #formCreateAutor .buttons .btnSave:HOVER {border: 3px solid;}