body{color:#fff;}

h1, h2, h3, p, dl, dd, dt {text-align: center;}

#Error-404 {margin-top: 2em;}
#Error-404 h2 {font-size: 3.5em;}
#Error-404 h3 {font-weight: 600; margin-bottom: 0.75em;}

#Error-404 .container .bodyError {font-size: 1.25em;}
#Error-404 .container .col-sm-6 {text-align: center; margin-top: 3em;}
#Error-404 .container .col-sm-6 .btn {font-size: 1.75em; padding: 0.25em 3.25em;}

#notfound{position:relative;height:55vh; margin-top: 7em;}
#notfound .notfound{position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}

.notfound{max-width:520px;width:100%;line-height:1.4;text-align:center}
.notfound .notfound-404{position:relative;height:200px;margin:0 auto 20px;z-index:-1}
.notfound .notfound-404 h1{font-family: "Open Sans";font-size:236px;font-weight:200;margin:0;text-transform:uppercase;position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.notfound .notfound-404 h2{font-family:'Open Sans',sans-serif;font-size:22px;font-weight:400;text-transform:uppercase; padding:10px 5px;margin:auto;display:inline-block;position:absolute;bottom:5px;left:0;right:5px}
.notfound a{font-family:'Open Sans',sans-serif;display:inline-block;font-weight:700;text-decoration:none;text-transform:uppercase;padding:13px 23px;font-size:18px;-webkit-transition:.2s all;transition:.2s all}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h1{font-size:148px}
}
@media only screen and (max-width: 480px) {
    .notfound .notfound-404{height:148px;margin:0 auto 10px}
    .notfound .notfound-404 h1{font-size:86px}
    .notfound .notfound-404 h2{font-size:16px}
    .notfound a{padding:7px 15px;font-size:14px}
}