body{color:#fff;}

h1, h2, h3, p, dl, dd, dt {text-align: center;}

#Error-404 {margin-top: 2em;}
#Error-404 h2 {font-size: 3.5em;}
#Error-404 h3 {font-weight: 600; margin-bottom: 0.75em;}

#Error-404 .container .bodyError {font-size: 1.25em;}
#Error-404 .container .col-sm-6 {text-align: center; margin-top: 3em;}
#Error-404 .container .col-sm-6 .btn {font-size: 1.75em; padding: 0.25em 3.25em;}