/** CSS de los Flash Message and Errors **/

#layout-container .flash {
	position: relative; 
	padding: .75rem 1.25rem; 
	margin: 1.5em 0.25em 0.25em 0.25em; 
	border: 1px solid transparent; 
	border-radius: 10px; 
	font-size: 1.10em;
}
#layout-container .iconoMensajes{
	background: url(../images/imgWeb/icons/information.png) 0.5em 50% no-repeat; 
	padding-left: 2em; 
	padding-right: 1em;
}
#layout-container .flash.errors {
	color:#E53030; 
	background-color: #fbcdcd; 
	border-color: #ff8888; 
	box-shadow: 0 0 0.5em 0.01em #ff8888; 
	font-weight: bold;
}
#layout-container .flash.mensajes {
	background-color: #E0F3F7;
	font-weight: 600; 
	border: 1px solid #b2d1ff; 
	color: #006dba; 
	-moz-box-shadow: 0 0 0.5em 0.01em #b2d1ff;
	-webkit-box-shadow: 0 0 0.5em 0.01em #b2d1ff;
    box-shadow: 0 0 0.5em 0.01em #b2d1ff;
}