/** CSS de los Flash Message and Errors **/

body .flash {
	position: relative; 
	padding: .75rem 1.25rem; 
	margin: 1.5em 0.25em 1.5em 0.25em;
	border: 1px solid transparent; 
	border-radius: 10px; 
	font-size: 1.10em;
}
body .iconoMensajes{
	background: url(../images/imgWeb/icons/information.png) 0.5em 50% no-repeat; 
	padding-left: 2em; 
	padding-right: 1em;
}

body .iconoError{
	background: url(../images/imgWeb/icons/error.png) 0.5em 50% no-repeat; 
	padding-left: 2em; 
	padding-right: 1em;
}

body .iconoWarning{
	background: url(../images/imgWeb/icons/warning.png) 0.5em 50% no-repeat; 
	padding-left: 2em; 
	padding-right: 1em;
}

body .flash.errors {
	color:#E53030; 
	background-color: #fbcdcd; 
	border-color: #ff8888; 
	box-shadow: 0 0 0.5em 0.01em #ff8888; 
	-moz-box-shadow: 0 0 0.5em 0.01em #ff8888;
	-webkit-box-shadow: 0 0 0.5em 0.01em #ff8888;
	font-weight: bold;
}
body .flash.mensajes {
	background-color: #E0F3F7;
	font-weight: 600; 
	border: 1px solid #b2d1ff; 
	color: #006dba; 
	-moz-box-shadow: 0 0 0.5em 0.01em #b2d1ff;
	-webkit-box-shadow: 0 0 0.5em 0.01em #b2d1ff;
    box-shadow: 0 0 0.5em 0.01em #b2d1ff;
}

body .flash.warn{
	background-color: #fff3cd;
	font-weight: 600; 
	border: 1px solid #ffeeba; 
	color: #856404; 
	-moz-box-shadow: 0 0 0.5em 0.01em #ffeeba;
	-webkit-box-shadow: 0 0 0.5em 0.01em #ffeeba;
    box-shadow: 0 0 0.5em 0.01em #ffeeba;
}

body #userFlashError,
body #userFlashCorrecto {
	margin-bottom: 1em;
	margin-top: 0.25em;
}