/** Crear y Editar Mangas **/
#layout-container #edit-mangas #formEditMangas h2,
#layout-container #create-mangas #formCreateMagas h2 {font-size: 2.75em; border-bottom: 2px solid; margin-top: 1em;}

#layout-container .form  h3 {font-size: 1.75em; margin-bottom: 0.5em; border-bottom: 2px solid;}
#layout-container .form .blockManga {padding: 1em 0.25em; margin-bottom: 2em; border: 2px solid; border-radius: 10px;}

#layout-container .form .blockManga select,
#layout-container .form .blockManga input {border: 3px solid; font-size: 1.15em;}
#layout-container .form .blockManga label {font-size: 1.15em; text-align: end;}

#layout-container .form .blockManga #autorLabel {padding-right: 1.5em; width: 16%;}

#layout-container .form .blockManga .checkboxPos {position: relative; top: 2px;}
#layout-container .form .blockManga .inputPadding {padding: 0 0.75em;}
#layout-container .form .blockManga .fieldcontain {padding: 0.75em;}
#layout-container .form .blockManga .fieldcontain .col-sm-4 {padding-left: 0;}
#layout-container .form .blockManga .fieldcontain .imgAutorInfo {margin-left: 3.75em;}
#layout-container .form .blockManga .fieldcontain #urlImg {font-size: 12px;}

#layout-container .form .blockManga #precioTotal {width: 27.75%;}
#layout-container .form .blockManga #autor {width: 31.75%;}
#layout-container .form .blockManga #Generos,
#layout-container .form .blockManga #demografia {width: 50%;}
#layout-container .form .blockManga #precioTotalLabel {width: 20%;}
#layout-container .form .blockManga .agreeGenero {border: 3px solid; padding-top: 3px;}

#layout-container .form .blockManga .blockGenero h4 {font-size: 1.75em; text-align: center; border-bottom: 1px solid; margin-top: 3.25em;}
#layout-container .form .blockManga .blockGenero #boxesGeneros {display: flex; padding: 0em 2em;}
#layout-container .form .blockManga .blockGenero #boxesGeneros .boxGenero {padding: 0.25em 1em; border: 2px solid; border-radius: 5px; font-size: 17px; margin-right: 1em;}
#layout-container .form .blockManga .blockGenero #boxesGeneros .close {margin-top: 1px; margin-left: 0.25em;}

#layout-container #edit-mangas #formEditMangas .buttons,
#layout-container #create-mangas #formCreateMagas .buttons {text-align: center;}

#layout-container #edit-mangas #formEditMangas .divButtonSave,
#layout-container #create-mangas #formCreateMagas .divButtonSave {margin-top: 2em; margin-bottom: 2em; padding: 0.5em; border: 3px solid; border-radius: 10px;}

#layout-container #edit-mangas #formEditMangas .buttons .btnSave,
#layout-container #create-mangas #formCreateMagas .buttons .btnSave {padding: 0.5em 6em; font-size: 1.5em; border: 3px solid; font-weight: 600; transition: 1s;}

/** Lista Mangas **/
#layout-container #list-mangas h2 {font-size: 2.75em; border-bottom: 1px solid; margin-top: 1em;}

#layout-container #list-mangas #filtroMangas {padding: 0.25em 1.75em; margin: 1.5em 0 0.35em 0; border: 3px solid; border-radius: 10px 10px 7px 7px;}
#layout-container #list-mangas #filtroMangas .bodyFilter {margin-bottom: 0.25em; display: flex; align-items: center;}
#layout-container #list-mangas #filtroMangas .form-group {margin-right: 0.5em; float: left;}
#layout-container #list-mangas #filtroMangas .titleFilter {margin-top: 0.25em; padding-bottom: 0.25em; border-bottom:6px dotted;font-size: 2.10em; font-weight: 600;}
#layout-container #list-mangas #filtroMangas .labelFilter {font-size: 1.15em;}
#layout-container #list-mangas #filtroMangas .form-group select {border: 2px solid; padding: 0.15em 1.25em;}
#layout-container #list-mangas #filtroMangas .form-group input {border: 2px solid;}

#layout-container #list-mangas #filtroMangas .btn {font-size: 1.10em; font-weight: 600;}
#layout-container #list-mangas #filtroMangas .btn-filter {margin-left: 0.75em; margin-right: 0.25em; border: 2px solid;}

#layout-container #list-mangas #tableMangasList {border:2px solid; border-radius: 7px; margin-top: 2em; margin-bottom: 1em;}
#layout-container #list-mangas #tableMangasList .table {font-family: 'Open Sans'; text-align: center; font-size: 1.10em; margin: 0;}
#layout-container #list-mangas #tableMangasList .table .limitedColumn {width: 20%;}
#layout-container #list-mangas #tableMangasList .table .btnConvert {font-family: 'Open Sans Light', sans-serif; font-weight: bold; font-size: 0.85em;}

#layout-container #list-mangas #tableMangasList .table tr th {text-align: center;}
#layout-container #list-mangas #tableMangasList .table tr td a {font-family: 'Open Sans Light', sans-serif; font-weight: bold; color:#fff;}

#layout-container #list-mangas #tableMangasList .table td {vertical-align: middle;}

#layout-container #list-mangas #tableMangasList #modalPassDeseadoToRegister .modal-dialog {width: 750px;}
#layout-container #list-mangas #tableMangasList #modalPassDeseadoToRegister .modal-body {text-align: justify; font-size: 1.15em;}
#layout-container #list-mangas #tableMangasList #modalPassDeseadoToRegister .modal-body .separator {border: 2px solid; margin: 1em 0;}
#layout-container #list-mangas #tableMangasList #modalPassDeseadoToRegister .modal-body .verticalAlign {display: flex; align-items: baseline;}

#layout-container #list-mangas .paginacion {text-align: center; margin-bottom: 3em; line-height: 0.25em;}
#layout-container #list-mangas .paginacion a,
#layout-container #list-mangas .paginacion span {font-size: 1.25em; padding-left: 1em;}

/** Ver Mangas **/
#layout-container #ver-manga h2 {font-size: 2.75em; border-bottom: 2px solid; margin-top: 1em;}

#layout-container #ver-manga #modalPassDeseadoToRegister .modal-dialog {width: 750px;}
#layout-container #ver-manga #modalPassDeseadoToRegister .modal-body {text-align: justify; font-size: 1.15em;}
#layout-container #ver-manga #modalPassDeseadoToRegister .modal-body .separator {border: 2px solid; margin: 1em 0;}
#layout-container #ver-manga #modalPassDeseadoToRegister .modal-body .verticalAlign {display: flex; align-items: baseline;}

#layout-container #ver-manga #modalSumTomosManga .modal-body {text-align: justify; font-size: 1.15em;}
#layout-container #ver-manga #modalSumTomosManga .modal-body .separator {border: 2px solid; margin: 1em 0;}
#layout-container #ver-manga #modalSumTomosManga .modal-body .verticalAlign {display: flex; align-items: baseline;}
#layout-container #ver-manga #modalSumTomosManga .modal-body .verticalAlign label {text-align: end; padding-right: 0.25em;}

#layout-container #ver-manga #panel-ver-mangas.panel-show-mangas {margin-top: 1.75em; margin-bottom: 1.75em; padding: 1em 4em 0em 4em; border: 5px solid; border-radius: 15px;}
#layout-container #ver-manga #panel-ver-mangas h3 {margin: 0; border-bottom: 1px solid; padding-bottom: 0.15em; font-family: 'Open Sans Semibold'; font-size: 2.10em;}

#layout-container #ver-manga #panel-ver-mangas #imgMangas img {width: 230px; height: 330px; margin: 2em 0em; border: 3px solid; border-radius: 5px;}

#layout-container #ver-manga #panel-ver-mangas .infoMangas {margin-top: 2em; padding: 1em; border: 2px solid; border-radius: 5px;}
#layout-container #ver-manga #panel-ver-mangas .infoMangas h4 {font-size: 1.65em;}
#layout-container #ver-manga #panel-ver-mangas .infoMangas span {margin-top: 8px; padding: 0; font-size: 1.5em; font-weight: bold;}
#layout-container #ver-manga #panel-ver-mangas .infoMangas span.glyphicon {margin-top: 12px;}
#layout-container #ver-manga #panel-ver-mangas .infoMangas span.number {margin-top: 7px;}
#layout-container #ver-manga #panel-ver-mangas .infoMangas .marginGenero {margin-top: 8px; padding: 0;}
#layout-container #ver-manga #panel-ver-mangas .infoMangas .Box-SpinOff {border-top: 1px dashed; margin-top: 1em;}
#layout-container #ver-manga #panel-ver-mangas .infoMangas .Box-SpinOff .italic {font-style: italic;}

#layout-container #ver-manga #panel-ver-mangas .infoMangas #numTomosActuales-label,
#layout-container #ver-manga #panel-ver-mangas .infoMangas #numTomosMaximos-label,
#layout-container #ver-manga #panel-ver-mangas .infoMangas #deseado-label    {padding-right: 0;}
#layout-container #ver-manga #panel-ver-mangas .infoMangas #autorSpan-label  {padding-left: 0.25em;}
#layout-container #ver-manga #panel-ver-mangas .infoMangas #demografia-label {width: 22%}
#layout-container #ver-manga #panel-ver-mangas .infoMangas #generos-label    {padding-right: 0; width: 28%;}

#layout-container #ver-manga #panel-ver-mangas .last-box {margin-bottom: 2em;}