.gtr-uniform .button-genero-manga {display: flex; align-items: flex-end;}
.gtr-uniform #boxesGeneros {display: flex; padding: 1em 2em 0em 2em;}
.gtr-uniform #boxesGeneros .boxGenero {display: flex; align-items: center; padding: 0.25em 1em; border: 2px solid; border-radius: 5px; font-size: 17px; margin-right: 1em;}
.gtr-uniform #boxesGeneros .close {margin-left: 0.5em; box-shadow: none;}

section form .checkBox {display: flex; align-items: center; margin-top: 1.75em;}

/** Show **/
section #imgMangas img {width: 230px; height: 330px;}

section header.main {margin-top: 2.5em;}

section article .content p {font-size: 1.15em; font-weight: bold;}
section article .content p span {font-weight: 100; font-style: italic;}
section article .content a {border: 0; font-style: initial;}

section div.features article .icon-article {height: 12em; width: 12em; margin-right: 3em;}
section div.features article .icon-article:before {font-size: 5.5rem; position: relative; top: 0.05em;}
section div.features article .icon-article:after {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 1.25rem;
    border: solid 2px rgba(210, 215, 217, 0.75);
    content: '';
    display: block;
    height: 9em;
    left: 50%;
    margin: -4em 0 0 -4.5em;
    position: absolute;
    top: 40%;
    width: 9em;
}