#layout-container #List-Historial-PDF h2,
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF h2 {font-size: 2.75em; border-bottom: 2px solid; margin-top: 1em; text-align: center;}
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF h3 {text-align: center; border-bottom: 2px solid; margin-top: 0; padding-bottom: 0.15em; font-size: 2.25em;}

#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .divButtonSave {margin-top: 2em; margin-bottom: 2em; padding: 0.5em; border: 3px solid; border-radius: 10px;}
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .marginRight {margin-right: 1em;}
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .padding {padding: 0.25em;}
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .panel-form {margin-top: 1em; padding: 1em; border: 5px solid; border-radius: 15px;}
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .panel-form .borderBox {padding: 1em; border: 3px solid; border-radius: 0.75em; display: flex; align-items: center;}
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .panel-form .borderBox.modal-body {margin-top: 1em;}
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .panel-form .borderBox .blockInpunts {font-size: 1.15em;}
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .panel-form .borderBox .blockSelect {padding: 0; display: flex; align-items: center;}

#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .buttons {text-align: center;}
#layout-container #Generate-Historial-PDF #formGenerateHistorialPDF .buttons .btnSave {padding: 0.5em 6em; font-size: 1.5em; border: 3px solid; font-weight: 600; transition: 1s;}

/*
#layout-container #List-Historial-PDF #tableHistorialList {border:2px solid; border-radius: 7px; margin-top: 2em; margin-bottom: 1em;}
#layout-container #List-Historial-PDF #tableHistorialList .table {font-family: 'Open Sans'; text-align: center; font-size: 1.10em; margin: 0;}

#layout-container #List-Historial-PDF #tableHistorialList .table tr th {text-align: center;}
#layout-container #List-Historial-PDF #tableHistorialList .table tr td a {font-family: 'Open Sans Light', sans-serif; font-weight: bold; color:#fff;}

#layout-container #List-Historial-PDF #tableHistorialList .table td {vertical-align: middle;}

#layout-container #List-Historial-PDF .paginacion {text-align: center; margin-bottom: 3em; line-height: 0.25em;}
#layout-container #List-Historial-PDF .paginacion a,
#layout-container #List-Historial-PDF .paginacion span {font-size: 1.25em; padding-left: 1em;}*/
